@page
@model CEN4020_Website.Pages.Reviewers.IndexModel
@{
}

@if(TempData["success"] != null)
{
	<h2>@TempData["success"]</h2>
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary"> Reviewer List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="create" class="btn btn-primary">
				<i class="bi bi-pencil-square"></i> &nbsp;Create New Reviewer
			</a>
		</div>
	</div>

	<br>
	<form asp-page-handler="GenerateReport" method="post"> 
		<button class="btn btn-primary">Generate Report</button>
	</form>
	<br>

	<table class="table table-bordered table-striped" style="height:100%;width:100%;display:block;overflow:scroll">
		<thead>
			<tr>
				<th>First Name</th>
				
				<th>Middle Initial</th>
				
				<th>Last Name</th>
				
				<th>Affiliation</th>
				
				<th>Department</th>
				
				<th>Address</th>
				
				<th>City</th>
				
				<th>State</th>
				
				<th>Zip Code</th>
				
				<th>Phone Number</th>
				
				<th>Email Address</th>
				
				<th>Password</th>
				
				<th>AnalysisOfAlgorithms</th>
                
				<th>Applications</th>
                
				<th>Architecture</th>
                
				<th>ArtificialIntelligence</th>
                
				<th>ComputerEngineering</th>
                
				<th>Curriculum</th>
                
				<th>DataStructures</th>
                
				<th>Databases</th>
                
				<th>DistanceLearning</th>
                
				<th>DistributedSystems</th>
                
				<th>EthicalSocietalIssues</th>
                
				<th>FirstYearComputing</th>
                
				<th>GenderIssues</th>
                
				<th>GrantWriting</th>
                
				<th>GraphicsImageProcessing</th>
                
				<th>HumanComputerInteraction</th>
                
				<th>LabratoryEnvironments</th>
                
				<th>Literacy</th>
                
				<th>MathematicsInComputing</th>
                
				<th>Multimedia</th>
                
				<th>NetworkingDataCommunications</th>
                
				<th>NonMajorCourses</th>
                
				<th>ObjectOrientedIssues</th>
                
				<th>OperatingSystems</th>
                
				<th>ParallelProcessing</th>
                
				<th>Pedagogy</th>
                
				<th>ProgrammingLanguages</th>
                
				<th>Research</th>
                
				<th>Security</th>
                
				<th>SoftwareEngineering</th>
                
				<th>SystemsAnalysisAndDesign</th>
                
				<th>UsingTechnologyInTheClassroom</th>
                
				<th>WebAndInternetProgramming</th>
                
				<th>Other</th>

				<th>OtherDescription</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.Reviewer)
			{
				<tr>
					<td width="50%">@obj.FirstName</td>
					<td width="5%">@obj.MiddleInitial</td>
					<td width="50%">@obj.LastName</td>
					<td width="50%">@obj.Affiliation</td>
					<td width="50%">@obj.Department</td>
					<td width="50%">@obj.Address</td>
					<td width="50%">@obj.City</td>
					<td width="50%">@obj.State</td>
					<td width="50%">@obj.ZipCode</td>
					<td width="50%">@obj.PhoneNumber</td>
					<td width="50%">@obj.EmailAddress</td>
					<td width="50%">@obj.Password</td>
					<td width="50%">@obj.AnalysisOfAlgorithms</td>
					<td width="50%">@obj.Applications</td>
					<td width="50%">@obj.Architecture</td>
					<td width="50%">@obj.ArtificialIntelligence</td>
					<td width="50%">@obj.ComputerEngineering</td>
					<td width="50%">@obj.Curriculum</td>
					<td width="50%">@obj.DataStructures</td>
					<td width="50%">@obj.Databases</td>
					<td width="50%">@obj.DistancedLearning</td>
					<td width="50%">@obj.DistributedSystems</td>
					<td width="50%">@obj.EthicalSocietalIssues</td>
					<td width="50%">@obj.FirstYearComputing</td>
					<td width="50%">@obj.GenderIssues</td>
					<td width="50%">@obj.GrantWriting</td>
					<td width="50%">@obj.GraphicsImageProcessing</td>
					<td width="50%">@obj.HumanComputerInteraction</td>
					<td width="50%">@obj.LaboratoryEnvironments</td>
					<td width="50%">@obj.Literacy</td>
					<td width="50%">@obj.MathematicsInComputing</td>
					<td width="50%">@obj.Multimedia</td>
					<td width="50%">@obj.NetworkingDataCommunications</td>
					<td width="50%">@obj.NonMajorCourses</td>
					<td width="50%">@obj.ObjectOrientedIssues</td>
					<td width="50%">@obj.OperatingSystems</td>
					<td width="50%">@obj.ParallelProcessing</td>
					<td width="50%">@obj.Pedagogy</td>
					<td width="50%">@obj.ProgrammingLanguages</td>
					<td width="50%">@obj.Research</td>
					<td width="50%">@obj.Security</td>
					<td width="50%">@obj.SoftwareEngineering</td>
					<td width="50%">@obj.SystemsAnalysisAndDesign</td>
					<td width="50%">@obj.UsingTechnologyInTheClassroom</td>
					<td width="50%">@obj.WebAndInternetProgramming</td>
					<td width="50%">@obj.Other</td>
					<td width="50%">@obj.OtherDescription</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-page="Edit" asp-route-id="@obj.ReviewerID" class="btn btn-primary">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a asp-page="Delete" asp-route-id="@obj.ReviewerID" class="btn btn-danger">
								<i class="bi bi-trash-fill"></i>
							</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>